.index_icon-sprite, .index_icon-down_code, .index_icon-index_book, .index_icon-index_map, .index_icon-index_peo, .index_icon-index_yellow, .index_icon-top_code { background-image: url('../images/index/index_icon-s55bccc0eef.png'); background-repeat: no-repeat; }

.index_icon-down_code { background-position: 0 0; height: 12px; width: 12px; }

.index_icon-index_book { background-position: 0 -12px; height: 38px; width: 38px; }

.index_icon-index_map { background-position: 0 -50px; height: 38px; width: 38px; }

.index_icon-index_peo { background-position: 0 -88px; height: 38px; width: 38px; }

.index_icon-index_yellow { background-position: 0 -126px; height: 72px; width: 89px; }

.index_icon-top_code { background-position: 0 -198px; height: 12px; width: 12px; }

.class_platform { padding-top: 38px; }

.lr_struct dl { margin-bottom: 60px; height: auto; overflow: hidden; }

.lr_struct dl dt { -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.lr_struct dl dd { line-height: 30px; position: relative; }

.lr_struct .odd dt { float: left; }

.lr_struct .odd dd { float: right; }

.lr_struct .add dt { float: right; }

.lr_struct .add dd { float: left; }

.pro_tx dl dd h3.color_1:before { content: ""; display: block; border: 12px solid; border-color: transparent #ff5a49 #ff5a49 transparent; height: 0; width: 0; position: absolute; bottom: 0; right: -55px; }

.pro_tx dl dd h3.color_2:before { content: ""; display: block; border: 12px solid; border-color: transparent transparent #5283e7 #5283e7; height: 0; width: 0; position: absolute; bottom: 0; left: -55px; }

.pro_tx dl dd h3.color_3:before { content: ""; display: block; border: 12px solid; border-color: transparent #aacd06 #aacd06 transparent; height: 0; width: 0; position: absolute; bottom: 0; right: -55px; }

.pro_tx { margin-top: 64px; text-align: left; }

.pro_tx dl { margin-bottom: 60px; height: auto; overflow: hidden; }

.pro_tx dl dt { width: 180px; height: 180px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }

.pro_tx dl dd { width: 748px; padding: 25px 36px 36px 60px; line-height: 30px; position: relative; }

.pro_tx dl dd h3 { font-size: 34px; font-weight: bold; margin-bottom: 32px; position: relative; }

.pro_tx dl dd .color_1 { color: #ff5a49; }

.pro_tx dl dd .color_2 { color: #5283e7; text-align: right; }

.pro_tx dl dd .color_3 { color: #aacd06; }

.artic { background-color: #f3f9ff; padding: 40px 0 60px 0; }

.class_pro { display: none; display: block\9; }

.artic { min-height: 340px !important; height: 340px; overflow: hidden; }
.artic h4 { font-size: 32px; color: #22becb; font-weight: bold; }
.artic dl { position: relative; text-align: center; float: left; }
.artic dl dd { font-size: 14px; color: #22becb; text-align: center; line-height: 18px; margin-top: 10px; font-weight: bold; }
.artic .pro_step { margin-top: 30px; padding: 0 184px; }
.artic .pro_step .step_left { float: left; margin-right: 190px; }
.artic .pro_step .step_right { float: right; }
.artic .pro_bottom { margin-top: 6px; }
.artic .pro_bottom dl { padding-top: 20px; color: #fff; }
.artic .pro_bottom dl dd { line-height: 16px; color: #fff; }

.teacher_item { padding: 40px 0 60px 0; min-height: 600px; display: none; display: block\9; }
.teacher_item h4 { font-size: 28px; color: #22becb; margin-bottom: 40px; }
.teacher_item ul li { border: 1px solid #E4DDDD; width: 503px; min-height: 198px; height: 198px; margin-right: 18px; margin-bottom: 18px; }
.teacher_item ul li:hover { border-color: #f7b900; }
.teacher_item ul li .l_cont { margin: 0 16px; vertical-align: middle; }
.teacher_item ul li .r_cont { position: relative; font-size: 14px; padding: 20px; width: 345px; line-height: 18px; height: 100%; }
.teacher_item ul li .r_cont .top { position: absolute; top: 20px; left: 0; }
.teacher_item ul li .r_cont .down { position: absolute; bottom: 12px; right: 45px; }
.teacher_item ul .no_margin { margin-right: 0; }

@-webkit-keyframes fadeInDownBig { 0% { opacity: 0; -webkit-transform: translateY(-100px); transform: translateY(-100px); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes fadeInDownBig { 0% { opacity: 0; -webkit-transform: translateY(-100px); -ms-transform: translateY(-100px); transform: translateY(-100px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); } }
.fadeInDownBig { -webkit-animation-name: fadeInDownBig; animation-name: fadeInDownBig; }

@-webkit-keyframes fadeInUpBig { 0% { opacity: 0; -webkit-transform: translateY(100px); transform: translateY(100px); }
  100% { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); } }
@keyframes fadeInUpBig { 0% { opacity: 0; -webkit-transform: translateY(100px); -ms-transform: translateY(100px); transform: translateY(100px); }
  100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); } }
.fadeInUpBig { -webkit-animation-name: fadeInUpBig; animation-name: fadeInUpBig; }

@-webkit-keyframes tanLateLeft { 0% { -webkit-transform: translate(251px, 99px) scale(0); transform: translate(251px, 99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
@keyframes tanLateLeft { 0% { -webkit-transform: translate(251px, 99px) scale(0); transform: translate(251px, 99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
.tanLateLeft { -webkit-animation-name: tanLateLeft; animation-name: tanLateLeft; }

@-webkit-keyframes tanLateRight { 0% { -webkit-transform: translate(-251px, 99px) scale(0); transform: translate(-251px, 99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
@keyframes tanLateRight { 0% { -webkit-transform: translate(-251px, 99px) scale(0); transform: translate(-251px, 99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
.tanLateRight { -webkit-animation-name: tanLateRight; animation-name: tanLateRight; }

@-webkit-keyframes tanLateLeftDown { 0% { -webkit-transform: translate(251px, -99px) scale(0); transform: translate(251px, -99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
@keyframes tanLateLeftDown { 0% { -webkit-transform: translate(251px, -99px) scale(0); transform: translate(251px, -99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
.tanLateLeftDown { -webkit-animation-name: tanLateLeftDown; animation-name: tanLateLeftDown; }

@-webkit-keyframes tanLateRightDown { 0% { -webkit-transform: translate(-251px, -99px) scale(0); transform: translate(-251px, -99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
@keyframes tanLateRightDown { 0% { -webkit-transform: translate(-251px, -99px) scale(0); transform: translate(-251px, -99px) scale(0); }
  100% { -webkit-transform: translate(0, 0) scale(1); transform: translate(0, 0) scale(1); } }
.tanLateRightDown { -webkit-animation-name: tanLateRightDown; animation-name: tanLateRightDown; }
